/*
  width: 1200px;
  green: rgb(207, 227, 60);
  black: rgb(65, 64, 66);
*/

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 1200px;
  height: 100%;
  font-family: 'alrightsans-regular';
  color: rgb(65, 64, 66);
}

/*
  General
*/

* {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box
}

.content {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

h1 {
  padding-top: 60px;
  margin-top: 0px;
  margin-bottom: 0px; 
  font-size: 42px;
  font-family: 'alrightsans-bold';
}

h2 {
  padding: 12px;
  background-color: rgb(207, 227, 60);
  color: white;
  font-family: 'alrightsans-bold';
  display: inline-block;
  margin-right: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
}

p {
  font-family: 'alrightsans-light';
}

/*
  Navigation
*/
#navBar {
  background-color: rgb(207, 227, 60);
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

#navBar .content {
  background-image: url('../images/logoMedium.png');
  background-repeat: no-repeat;
  background-position-y: 12px;
  padding: 12px;
  height: 60px;
}

.navButton {
  display: inline-block;
  font-family: 'alrightsans-bold';
  float: right;
  padding: 12px;
  color: black;
  opacity: .1;
}

.navButton:hover,
.navButton.selected {
  color: white;
  opacity: 1;
  cursor: pointer;
}

/*
  Home
*/
#home {
  height: 100%;
  width: 100%;
  background-image: url('../images/touchOfColorCarSmall.jpg');
  background-color: rgb(116, 116, 116);
  background-size: cover;
  background-position: center center;
}

@media (min-width: 1306px), (min-height: 721px) {
  #home {
    background-image: url('../images/touchOfColorCarMedium.jpg');
  }
}

@media (min-width: 1959px), (min-height: 1081px) {
  #home {
    background-image: url('../images/touchOfColorCarLarge.jpg');
  }
}

#home .content {
  height: 100%;
}

#logo {
  background-image: url('../images/logoLarge.png');
  width: 400px;
  height: 160px;
  position: absolute;
  top: 20px;
  left: 20px;
}

#moto {
  font-family: 'alrightsans-bold';
  font-size: 48px;
  text-align: right;
  color: white;
  position: absolute;
  bottom: 80px;
  right: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);

  }
/*
   Team
*/

.capstoneGroup {
  width: 25%;
  display: block;
  float: left;
  padding-right: 20px;
}

.capstoneGroup .thumbnail {
  height: 550px;
  border-radius: 0px;
  border: none;
  padding: 10px;
}

.capstoneGroup .caption {
  padding: 10px 0px;
}

.capstoneGroup img {
  width: 260px;
  height: 300px;
}

.caption-alt h3, .caption-alt p {
  color: white;
}

#year2Competition, #playbook, #ecoTeamPic{
  float: right;
  width: 40%; 
  height: 30%;
}

.leftPanelContent {
  width: 55%;
  min-height: 300px;
}

#otherNames {
  padding-left: 5em;
}

/*
   Project
*/

#myCarousel {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.carousel-control {
  padding-top: 50%;
  margin: 0px;
  padding: 0px;
}

.item img {
  min-height: 480px;
}

.carousel-caption {
  background-color: rgb(207, 227, 60);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  color: black;
}

#carouselButtons {
  width: 70px;
  height: 40px;
  top: 5%;
  right: 5%;
  margin-left: 800px;
  position: absolute;
  bottom: 495px;
}

#carouselButtons button  {
  margin-left: 2px;
  display: inline-block;
  float: left;
}

/*
  Notebook
*/
.post {
  background-color: rgb(240, 240, 240);
  padding: 12px;
  margin-top: 20px;
}
